main {
  height: calc(100% - 64px);
  width: 100%;
  overflow: auto;
}

footer {
  height: 64px;
  width: 100%;
}

footer a {
  height: 64px;
}

.navmenu-button {
  height: 64px;
  border-left: solid 1px lightgray;
  padding-top: 4px !important;
}
