<!--The content below is only a placeholder and can be replaced.-->
<main>
  <router-outlet></router-outlet>
</main>
<footer class="z-depth-3">
  <div class="row">
    <a class="col s3 navmenu-button center-align waves-effect waves-light" href="javascript:;" (click)="goto_page(1)"><i class="fas fa-map-marked-alt fa-2x"></i><br />Find</a>
    <a class="col s3 navmenu-button center-align waves-effect waves-light" href="javascript:;" (click)="goto_page(2)"><i class="fas fa-camera fa-2x"></i><br />Capture</a>
    <a class="col s3 navmenu-button center-align waves-effect waves-light" href="javascript:;" (click)="goto_page(3)"><i class="fas fa-ticket-alt fa-2x"></i><br />Redeem</a>
    <a class="col s3 navmenu-button center-align waves-effect waves-light" href="javascript:;" (click)="goto_page(4)"><i class="fas fa-cog fa-2x"></i><br />Settings</a>
  </div>
</footer>
