<nav>
  <div class="center-align">
    <div class="title">Redeem Rewards</div>
  </div>
</nav>
<div id="content">
  <div class="container">
    <div class="collection">
      <a class="collection-item row" href="javascript:;" data-offerid="1">
        <div class="col s6 left-align">Offer 1</div>
        <div class="col s6 right-align"><a href="javascript:;" class="btn">Redeem</a></div>
      </a>
      <a class="collection-item row" href="javascript:;" data-offerid="2">
        <div class="col s6 left-align">Offer 2</div>
        <div class="col s6 right-align"><a href="javascript:;" class="btn">Redeem</a></div>
      </a>
      <a class="collection-item row" href="javascript:;" data-offerid="3">
        <div class="col s6 left-align">Offer 3</div>
        <div class="col s6 right-align"><a href="javascript:;" class="btn">Redeem</a></div>
      </a>
      <a class="collection-item row" href="javascript:;" data-offerid="4">
        <div class="col s6 left-align">Offer 4</div>
        <div class="col s6 right-align"><a href="javascript:;" class="btn">Redeem</a></div>
      </a>
      <a class="collection-item row" href="javascript:;" data-offerid="5">
        <div class="col s6 left-align">Offer 5</div>
        <div class="col s6 right-align"><a href="javascript:;" class="btn">Redeem</a></div>
      </a> row
    </div>
  </div>
</div>
